2025/~$КРМ.xlsx
2025/Дисциплина «Анализ временных рядов», рабочая программа.docx
2025/КРМ.xlsx
2025/Модуль «Анализ временных рядов», рабочая программа.docx
2025/ОМ РПД «Анализ временных рядов»,версия 1, год 2025.docx
2025/~$сциплина «Компьютерное зрение», рабочая программа.docx
2025/Дисциплина «Компьютерное зрение», рабочая программа.docx
2025/~$ РПД «Компьютерное зрение»,версия 1, год 2025.docx
2025/Модуль «Компьютерное зрение», рабочая программа.docx
2025/ОМ РПД «Компьютерное зрение»,версия 1, год 2025.docx
2025/бумаги/Дисциплина «Компьютерное зрение», рабочая программа.docx
2025/бумаги/КРМ.xlsx
2025/бумаги/Модуль «Компьютерное зрение», рабочая программа.docx
2025/бумаги/ОМ РПД «Компьютерное зрение»,версия 1, год 2025.docx
2025/бумаги/~$М_КЗ_титул_начала.docx
2025/бумаги/План-проспект КЗ практики.docx
2025/бумаги/УММ_КЗ_титул_начала.docx
2025/бумаги/РП «Компьютерное_зрение»_АИИ_ПИИ.docx
2025/бумаги/ОМ «Компьютерное_зрение»_АИИ_ПИИ (2).docx
2025/бумаги/~$М_вопросы_задания.docx
2025/бумаги/для умм.pdf
2025/бумаги/для умм.pptx
2025/бумаги/ОМ «Компьютерное_зрение»_АИИ_ПИИ_2.docx
2025/бумаги/УММ_вопросы_задания.docx
2025/бумаги/УММ_вопросы_задания.pdf
2025/бумаги/УММ_КЗ_Лекция1.pdf
2025/бумаги/УММ_КЗ_титул_начала.pdf
2025/бумаги/08_05_РПД_Компьютерное_зрение (2).docx
2025/~$01 Введение в компьютерное зрение.pptx
2025/ppt242B.tmp
.ipynb_checkpoints/WS2_Augment_CNNLayer-checkpoint.ipynb
.ipynb_checkpoints/WS3_LeNet-checkpoint.ipynb
2025/.ipynb_checkpoints/WS3_LeNet-checkpoint.ipynb
2025/best_model.pt
2025/data/cifar-10-batches-py/batches.meta
2025/data/cifar-10-batches-py/data_batch_1
2025/data/cifar-10-batches-py/data_batch_2
2025/data/cifar-10-batches-py/data_batch_3
2025/data/cifar-10-batches-py/data_batch_4
2025/data/cifar-10-batches-py/data_batch_5
2025/data/cifar-10-batches-py/readme.html
2025/data/cifar-10-batches-py/test_batch
2025/data/cifar-10-python.tar.gz
2025/submission.csv
